user  {{ nginx_user }};
worker_processes  {{ nginx_worker_processes }};

error_log  {{ nginx_error_log }} {{ nginx_error_log_level }};
pid        {{ nginx_pid }};


events {
    worker_connections  {{ nginx_worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  {{ nginx_default_type }};

    log_format  {{ nginx_log_format_name }}  {{ nginx_log_format }};

    access_log  {{ nginx_access_log }}  {{ nginx_access_log_format }};

    sendfile       {{ nginx_sendfile }};
    tcp_nopush     {{ nginx_tcp_nopush }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};

    gzip  {{ nginx_gzip }};

    include /etc/nginx/conf.d/*.conf; 
    include {{ nginx_sites_enabled }}/*.conf;
}