server {
{% for k,v in item.server.items() %}
{% if k.find('locations') == -1 and k != 'file_name' %}
{% if k == 'ports' %}
{% for item in v %}
    listen {{ item }};
{% endfor %}
{% else %}
    {{ k }} {{ v }};
{% endif %}
{% endif %}
{% endfor %} 

{% for k,v in item.server.items() if k.find('locations') != -1 %}
    location {{ v.name }} {
{% for x,y in v.items() if x != 'name' %}       {{ x }} {{ y }};
{% endfor %}
    }
{% endfor %}
}
